*.sublime*
.DS_Store
*.djcache
Procfile
.atom-build.yml
celerybeat-schedule

*.pyc
*.log
build
arches_ciim_app.egg-info
arches_ciim_app/logs
arches_ciim_app/arches.log
arches_ciim_app/export_deliverables/*
arches_ciim_app/cantaloupe/*
arches_ciim_app/staticfiles
arches_ciim_app/media/packages
node_modules
arches_ciim_app/media/build/*
arches_ciim_app/uploadedfiles/*
arches_ciim_app/settings_local.py
webpack/webpack-stats.json
.vscode/
CACHE


*.egg-info
.DS_STORE
.tsconfig-paths.json
.frontend-configuration-settings.json
coverage/